* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* header start  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 16px 32px;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  /* width: 100svw; */
}
header h1 {
  font-size: 24px;
}
nav ul {
  display: flex;
  gap: 12px;
  font-size: 15px;
}
li a {
  color: white;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
a:hover {
  color: #a34a06;
}
/* header end  */
/* main start  */
main {
  position: relative;
}
.bg {
  height: 90vh;

  /* width: 100svw; */
  background-image: url(./premium_photo-1661883237884-263e8de8869b.webp);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.765);
  position: absolute;
  top: 0px;
  color: white;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 70px;
}
.layout p {
  width: 900px;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.layout h1 {
  font-size: 36px;
}
button {
  background-color: #a34a06;
  border: 1px solid #cf6b1d;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
button:hover {
  background-color: #000;
  color: white;
  border: 1px solid #cf6b1d;
}
/* main end  */

/* recipes start  */
.recipes-section {
  text-align: center;
  padding: 40px 20px;
}

.recipes-section h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.recipes-section .one {
  color: #555;
  /* width: 700px; */
  margin: 0 auto 40px;
}

.recipes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}

.recipe-card {
  border: 2px solid #f0a04b;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card img {
  width: 300px;
  height: 220px;
  /* object-fit: cover; */
  border-radius: 10px 10px 0 0;
}

.recipe-content {
  padding: 20px;
}

.recipe-content h3 {
  font-size: 20px;
  color: #111;
  margin-bottom: 10px;
}

.recipe-content p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
}

.recipe-card button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.recipe-card button:hover {
  background-color: #cf6b1d;
}

/* recipes end  */

/* chefs start  */

.chefs-section {
  text-align: center;
  padding: 40px 20px;
}

.chefs-section h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.chefs-section p {
  color: #555;
  /* width: 700px; */
  margin: 0 auto 40px;
}
.chefs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px;
}
.chef-card {
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 10px;
}
.chef-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.chef-card img {
  width: 100%;
  height: 290px;
  /* object-fit: cover; */
  border-radius: 20px;
}
.content h3 {
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
}
.content h4 {
  margin-top: 10px;
  font-size: 20px;
  color: #cf6b1d;
  text-align: left;
  font-weight: normal;
}
.content p {
  color: #555;
  margin-top: 10px;
  text-align: left;
}

/* chefs end  */

.contact-section {
  text-align: center;
  padding: 40px 20px;
}

.contact-section h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-section p {
  color: #555;
  width: 760px;
  margin: 0 auto 40px;
}

.container-form {
  padding: 20px 20px;
  background-color: white;
  width: 700px;
  margin: 0 auto;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.container-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.container-form label {
  font-weight: 600;
  text-align: left;
}
.container-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
.container-form input:focus {
  border-color: #e67e22;
}
.container-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
.container-form textarea:focus {
  border-color: #e67e22;
}
.container-form button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 16px 25px;
  border-radius: 9px;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.container-form button:hover {
  background-color: #cf6b1d;
}

/* footer start  */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

footer span {
  color: #e67e22;
  font-weight: 700;
}

/* footer end  */

/* media query start  */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  nav {
    display: none;
  }
  main {
    flex-direction: column;
  }
  .layout {
    width: 100%;
    padding: 0px 20px;
    text-align: center;
  }
  .layout p{
    font-size: 16px;
    /* margin: 20px; */
    width: 100%;
  }

  .container-form {
    width: 100%;
  }
}
